.clearfix .cf:before,
.clearfix .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  line-height: 0;
}
.clearfix .cf:after {
  clear: both;
}
.clearfix .cf {
  *zoom: 1;
}
li div {
  cursor: pointer;
}

.mainbox {
  width: 80%;
  margin: 20px auto 20px auto;
  height: 100px;
}

.pgn {
  width: 100%;
  border-top: 3px solid #fff;
  clear: both;
}
.pgn li {
  float: left;
}
.pgn div,
.pgn strong {
  float: left;
  text-align: center;
  padding-top: 20px;
  color: black;
  transition: color 0.2s linear;
}
@media screen and (min-width: 48em) {
  .pgn div,
  .pgn span,
  .pgn strong {
    display: block;
  }
}
.pgn div {
  text-decoration: none;
}
.pgn .prev,
.pgn .next {
  width: 33.33333%;
}
@media screen and (min-width: 37.5em) {
  .pgn .prev,
  .pgn .next {
    width: 20%;
  }
}
.pgn .prev div,
.pgn .next div {
  display: block;
  width: 100%;
}
.pgn .prev {
  float: left;
}
.pgn .prev div {
  text-align: left;
}
.pgn .next {
  float: right;
}
.pgn .next div {
  text-align: right;
}

/* <ul> */
.pgn__list {
  width: 100%;
  position: relative;
  top: -3px;
}

/* <li> - pagination numbers */
.pgn__item {
  width: 33.33333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 48em) {
  .pgn__item {
    width: calc(100% - 230px);
  }
}
.pgn__item div,
.pgn__item span,
.pgn__item strong {
  display: none;
  text-align: center;
  width: 100%;
}
.pgn__item div.current,
.pgn__item span.current {
  display: block;
  font-weight: bold;
}

@media screen and (min-width: 37.5em) {
  .pgn__item div {
    display: block;
  }
}

/* prev/next icon */
.pgn__prev-icon,
.pgn__next-icon {
  margin-top: 1px;
}
.disabled .pgn__prev-icon,
.disabled .pgn__next-icon {
  color: #bec2d8;
}

.fullprevnext .pgn__prev-icon {
  float: left;
}

.fullprevnext .pgn__next-icon {
  float: right;
}

/* prev/next text */
.pgn__prev-txt,
.pgn__next-txt {
  display: none;
}
.disabled .pgn__prev-txt,
.disabled .pgn__next-txt {
  color: #bec2d8;
}
.fullprevnext .pgn__prev-txt,
.fullprevnext .pgn__next-txt {
  display: inline-block;
  padding-top: 0;
}

.fullprevnext .pgn__prev-txt {
  float: left;
}

.fullprevnext .pgn__next-txt {
  float: right;
}

.pgn__magic-line {
  background-color: #1d96b2;
  position: absolute;
  height: 3px;
}

/* =Variables
------------------------------------- */
.c-intro {
  position: relative;
}

.c-ryanyu {
  background-color: transparent;
  display: block;
  font-family: "Kalam", cursive;
  height: 4.8125rem;
  margin: 1.25rem 0;
  position: relative;
  text-align: center;
  width: 4.8125rem;
}
.c-ryanyu img {
  background-color: white;
  border: 0.1875rem solid #eca522;
  border-radius: 50%;
  height: 4.375rem;
  -o-object-fit: contain;
  object-fit: contain;
  width: 4.375rem;
}

.c-ryanyu__front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: inherit;
  position: absolute;
  top: 0;
  -webkit-transform: rotateX(0) rotateY(0);
  transform: rotateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2000;
}
.c-ryanyu:hover .c-ryanyu__front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.c-ryanyu__back {
  background-color: black;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  color: #eca522;
  height: inherit;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  width: inherit;
  z-index: 1000;
}
.c-ryanyu__back::before {
  content: "Ryan Yu";
  display: block;
  -webkit-transform: rotate(-45deg) translate(-6px, 27px);
  transform: rotate(-45deg) translate(-6px, 27px);
  width: 3.125rem;
}
.c-ryanyu:hover .c-ryanyu__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
